body {
  margin: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper {
  height: 50px;
  width: 100%;
  background-color: #60C7AE;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.input-wrapper>input {
  width: 95%;
  height: 50px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
}

.input-wrapper>button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
}